doctype html
html(lang="en")
	head
		title express-demo | #{title}
		meta(charset="UTF-8")
		link(rel="stylesheet", href="/static/css/style.css")
		link(rel="icon", href="/static/favicon.png")
	body
		block content
		footer
			p Milos Milanovic, #{new Date().getFullYear()}.
